In [1]:
train_df<-read.csv("../Data/Titanic_train.csv")
head(train_df)
tail(train_df)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500       S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S
4 113803           53.1000 C123  S
5 373450            8.0500       S
6 330877            8.4583       Q

    PassengerId Survived Pclass Name                                     Sex
886 886         0        3      Rice, Mrs. William (Margaret Norton)     female
887 887         0        2      Montvila, Rev. Juozas                    male
888 888         1        1      Graham, Miss. Margaret Edith             female
889 889         0        3      Johnston, Miss. Catherine Helen "Carrie" female
890 890         1        1      Behr, Mr. Karl Howell                    male
891 891         0        3      Dooley, Mr. Patrick                      male
    Age SibSp Parch Ticket     Fare   Cabin Embarked
886 39  0     5     382652     29.125       Q
887 27  0     0     211536     13.000       S
888 19  0     0     112053     30.000 B42   S
889 NA  1     2     W./C. 6607 23.450       S
890 26  0     0     111369     30.000 C148  C
891 32  0     0     370376      7.750       Q

In [2]:
train_df_T <-train_df

target_col <- c("Survived","Sex","Pclass","Embarked")
head(train_df_T[,target_col])

train_df_T$SexCode[train_df_T$Sex=="male"] <-0
train_df_T$SexCode[train_df_T$Sex=="female"] <-1

subset(train_df_T, select= -Sex)
head(train_df_T)

target_col <-c("Survived","Sex","Pclass","Embarked")
head(train_df_T[target_col])

train_df_T$Embarked_C = train_df_T$Embarked =="C"
train_df_T$Embarked_S = train_df_T$Embarked =="S"
train_df_T$Embarked_Q = train_df_T$Embarked =="Q"

head(train_df_T[c("Embarked",'Embarked_C','Embarked_S','Embarked_Q')])

target_col = c("Survived", "Pclass","SexCode",'Embarked_C','Embarked_S','Embarked_Q')
head(train_df_T[,target_col])

  Survived Sex    Pclass Embarked
1 0        male   3      S
2 1        female 1      C
3 1        female 3      S
4 1        female 1      S
5 0        male   3      S
6 0        male   3      Q

    PassengerId Survived Pclass
1    1          0        3
2    2          1        1
3    3          1        3
4    4          1        1
5    5          0        3
6    6          0        3
7    7          0        1
8    8          0        3
9    9          1        3
10  10          1        2
11  11          1        3
12  12          1        1
13  13          0        3
14  14          0        3
15  15          0        3
16  16          1        2
17  17          0        3
18  18          1        2
19  19          0        3
20  20          1        3
21  21          0        2
22  22          1        2
23  23          1        3
24  24          1        1
25  25          0        3
26  26          1        3
27  27          0        3
28  28          0        1
29  29          1        3
30  30          0        3
... ...         ...      ...
862 862         0        2
863 863         1        1
864 864         0        3
865 865         0        2
866 866         1        2
867 867         1        2
868 868         0        1
869 869         0        3
870 870         1        3
871 871         0        3
872 872         1        1
873 873         0        1
874 874         0        3
875 875         1        2
876 876         1        3
877 877         0        3
878 878         0        3
879 879         0        3
880 880         1        1
881 881         1        2
882 882         0        3
883 883         0        3
884 884         0        2
885 885         0        3
886 886         0        3
887 887         0        2
888 888         1        1
889 889         0        3
890 890         1        1
891 891         0        3
    Name                                                      Age SibSp Parch
1   Braund, Mr. Owen Harris                                   22  1     0
2   Cumings, Mrs. John Bradley (Florence Briggs Thayer)       38  1     0
3   Heikkinen, Miss. Laina                                    26  0     0
4   Futrelle, Mrs. Jacques Heath (Lily May Peel)              35  1     0
5   Allen, Mr. William Henry                                  35  0     0
6   Moran, Mr. James                                          NA  0     0
7   McCarthy, Mr. Timothy J                                   54  0     0
8   Palsson, Master. Gosta Leonard                             2  3     1
9   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)         27  0     2
10  Nasser, Mrs. Nicholas (Adele Achem)                       14  1     0
11  Sandstrom, Miss. Marguerite Rut                            4  1     1
12  Bonnell, Miss. Elizabeth                                  58  0     0
13  Saundercock, Mr. William Henry                            20  0     0
14  Andersson, Mr. Anders Johan                               39  1     5
15  Vestrom, Miss. Hulda Amanda Adolfina                      14  0     0
16  Hewlett, Mrs. (Mary D Kingcome)                           55  0     0
17  Rice, Master. Eugene                                       2  4     1
18  Williams, Mr. Charles Eugene                              NA  0     0
19  Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)   31  1     0
20  Masselmani, Mrs. Fatima                                   NA  0     0
21  Fynney, Mr. Joseph J                                      35  0     0
22  Beesley, Mr. Lawrence                                     34  0     0
23  McGowan, Miss. Anna "Annie"                               15  0     0
24  Sloper, Mr. William Thompson                              28  0     0
25  Palsson, Miss. Torborg Danira                              8  3     1
26  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson) 38  1     5
27  Emir, Mr. Farred Chehab                                   NA  0     0
28  Fortune, Mr. Charles Alexander                            19  3     2
29  O'Dwyer, Miss. Ellen "Nellie"                             NA  0     0
30  Todoroff, Mr. Lalio                                       NA  0     0
... ...                                                       ... ...   ...
862 Giles, Mr. Frederick Edward                               21  1     0
863 Swift, Mrs. Frederick Joel (Margaret Welles Barron)       48  0     0
864 Sage, Miss. Dorothy Edith "Dolly"                         NA  8     2
865 Gill, Mr. John William                                    24  0     0
866 Bystrom, Mrs. (Karolina)                                  42  0     0
867 Duran y More, Miss. Asuncion                              27  1     0
868 Roebling, Mr. Washington Augustus II                      31  0     0
869 van Melkebeke, Mr. Philemon                               NA  0     0
870 Johnson, Master. Harold Theodor                            4  1     1
871 Balkic, Mr. Cerin                                         26  0     0
872 Beckwith, Mrs. Richard Leonard (Sallie Monypeny)          47  1     1
873 Carlsson, Mr. Frans Olof                                  33  0     0
874 Vander Cruyssen, Mr. Victor                               47  0     0
875 Abelson, Mrs. Samuel (Hannah Wizosky)                     28  1     0
876 Najib, Miss. Adele Kiamie "Jane"                          15  0     0
877 Gustafsson, Mr. Alfred Ossian                             20  0     0
878 Petroff, Mr. Nedelio                                      19  0     0
879 Laleff, Mr. Kristo                                        NA  0     0
880 Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)             56  0     1
881 Shelley, Mrs. William (Imanita Parrish Hall)              25  0     1
882 Markun, Mr. Johann                                        33  0     0
883 Dahlberg, Miss. Gerda Ulrika                              22  0     0
884 Banfield, Mr. Frederick James                             28  0     0
885 Sutehall, Mr. Henry Jr                                    25  0     0
886 Rice, Mrs. William (Margaret Norton)                      39  0     5
887 Montvila, Rev. Juozas                                     27  0     0
888 Graham, Miss. Margaret Edith                              19  0     0
889 Johnston, Miss. Catherine Helen "Carrie"                  NA  1     2
890 Behr, Mr. Karl Howell                                     26  0     0
891 Dooley, Mr. Patrick                                       32  0     0
    Ticket           Fare     Cabin       Embarked SexCode
1   A/5 21171          7.2500             S        0
2   PC 17599          71.2833 C85         C        1
3   STON/O2. 3101282   7.9250             S        1
4   113803            53.1000 C123        S        1
5   373450             8.0500             S        0
6   330877             8.4583             Q        0
7   17463             51.8625 E46         S        0
8   349909            21.0750             S        0
9   347742            11.1333             S        1
10  237736            30.0708             C        1
11  PP 9549           16.7000 G6          S        1
12  113783            26.5500 C103        S        1
13  A/5. 2151          8.0500             S        0
14  347082            31.2750             S        0
15  350406             7.8542             S        1
16  248706            16.0000             S        1
17  382652            29.1250             Q        0
18  244373            13.0000             S        0
19  345763            18.0000             S        1
20  2649               7.2250             C        1
21  239865            26.0000             S        0
22  248698            13.0000 D56         S        0
23  330923             8.0292             Q        1
24  113788            35.5000 A6          S        0
25  349909            21.0750             S        1
26  347077            31.3875             S        1
27  2631               7.2250             C        0
28  19950            263.0000 C23 C25 C27 S        0
29  330959             7.8792             Q        1
30  349216             7.8958             S        0
... ...              ...      ...         ...      ...
862 28134            11.5000              S        0
863 17466            25.9292  D17         S        1
864 CA. 2343         69.5500              S        1
865 233866           13.0000              S        0
866 236852           13.0000              S        1
867 SC/PARIS 2149    13.8583              C        1
868 PC 17590         50.4958  A24         S        0
869 345777            9.5000              S        0
870 347742           11.1333              S        0
871 349248            7.8958              S        0
872 11751            52.5542  D35         S        1
873 695               5.0000  B51 B53 B55 S        0
874 345765            9.0000              S        0
875 P/PP 3381        24.0000              C        1
876 2667              7.2250              C        1
877 7534              9.8458              S        0
878 349212            7.8958              S        0
879 349217            7.8958              S        0
880 11767            83.1583  C50         C        1
881 230433           26.0000              S        1
882 349257            7.8958              S        0
883 7552             10.5167              S        1
884 C.A./SOTON 34068 10.5000              S        0
885 SOTON/OQ 392076   7.0500              S        0
886 382652           29.1250              Q        1
887 211536           13.0000              S        0
888 112053           30.0000  B42         S        1
889 W./C. 6607       23.4500              S        1
890 111369           30.0000  C148        C        0
891 370376            7.7500              Q        0

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked SexCode
1 A/5 21171         7.2500       S        0
2 PC 17599         71.2833 C85   C        1
3 STON/O2. 3101282  7.9250       S        1
4 113803           53.1000 C123  S        1
5 373450            8.0500       S        0
6 330877            8.4583       Q        0

  Survived Sex    Pclass Embarked
1 0        male   3      S
2 1        female 1      C
3 1        female 3      S
4 1        female 1      S
5 0        male   3      S
6 0        male   3      Q

  Embarked Embarked_C Embarked_S Embarked_Q
1 S        FALSE       TRUE      FALSE
2 C         TRUE      FALSE      FALSE
3 S        FALSE       TRUE      FALSE
4 S        FALSE       TRUE      FALSE
5 S        FALSE       TRUE      FALSE
6 Q        FALSE      FALSE       TRUE

  Survived Pclass SexCode Embarked_C Embarked_S Embarked_Q
1 0        3      0       FALSE       TRUE      FALSE
2 1        1      1        TRUE      FALSE      FALSE
3 1        3      1       FALSE       TRUE      FALSE
4 1        1      1       FALSE       TRUE      FALSE
5 0        3      0       FALSE       TRUE      FALSE
6 0        3      0       FALSE      FALSE       TRUE

In [3]:
train_df_T<-subset(train_df_T, !is.na(train_df_T$Age))

In [4]:
train_df_T$AgeCode_0 = train_df_T$Age<=5
train_df_T$AgeCode_1= train_df_T$Age >5
head((train_df_T))

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
7 7           0        1
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
7 McCarthy, Mr. Timothy J                             male   54  0     0
  Ticket           Fare    Cabin Embarked SexCode Embarked_C Embarked_S
1 A/5 21171         7.2500       S        0       FALSE       TRUE
2 PC 17599         71.2833 C85   C        1        TRUE      FALSE
3 STON/O2. 3101282  7.9250       S        1       FALSE       TRUE
4 113803           53.1000 C123  S        1       FALSE       TRUE
5 373450            8.0500       S        0       FALSE       TRUE
7 17463            51.8625 E46   S        0       FALSE       TRUE
  Embarked_Q AgeCode_0 AgeCode_1
1 FALSE      FALSE     TRUE
2 FALSE      FALSE     TRUE
3 FALSE      FALSE     TRUE
4 FALSE      FALSE     TRUE
5 FALSE      FALSE     TRUE
7 FALSE      FALSE     TRUE

In [5]:
head(train_df_T[c("Age",'AgeCode_0','AgeCode_1')])
tail(train_df_T[c("Age",'AgeCode_0','AgeCode_1')])

  Age AgeCode_0 AgeCode_1
1 22  FALSE     TRUE
2 38  FALSE     TRUE
3 26  FALSE     TRUE
4 35  FALSE     TRUE
5 35  FALSE     TRUE
7 54  FALSE     TRUE

    Age AgeCode_0 AgeCode_1
885 25  FALSE     TRUE
886 39  FALSE     TRUE
887 27  FALSE     TRUE
888 19  FALSE     TRUE
890 26  FALSE     TRUE
891 32  FALSE     TRUE

In [6]:
target_col = c("Survived", "Pclass","SexCode",'Embarked_C','Embarked_S','Embarked_Q','AgeCode_0','AgeCode_1')
head(train_df_T[,target_col])

  Survived Pclass SexCode Embarked_C Embarked_S Embarked_Q AgeCode_0 AgeCode_1
1 0        3      0       FALSE       TRUE      FALSE      FALSE     TRUE
2 1        1      1        TRUE      FALSE      FALSE      FALSE     TRUE
3 1        3      1       FALSE       TRUE      FALSE      FALSE     TRUE
4 1        1      1       FALSE       TRUE      FALSE      FALSE     TRUE
5 0        3      0       FALSE       TRUE      FALSE      FALSE     TRUE
7 0        1      0       FALSE       TRUE      FALSE      FALSE     TRUE

In [7]:
train_data <- train_df_T[,target_col]

In [8]:
head(train_data )

  Survived Pclass SexCode Embarked_C Embarked_S Embarked_Q AgeCode_0 AgeCode_1
1 0        3      0       FALSE       TRUE      FALSE      FALSE     TRUE
2 1        1      1        TRUE      FALSE      FALSE      FALSE     TRUE
3 1        3      1       FALSE       TRUE      FALSE      FALSE     TRUE
4 1        1      1       FALSE       TRUE      FALSE      FALSE     TRUE
5 0        3      0       FALSE       TRUE      FALSE      FALSE     TRUE
7 0        1      0       FALSE       TRUE      FALSE      FALSE     TRUE

In [9]:
set.seed(1234)
library(caret)
samp<-createDataPartition(train_data$Survived, p=0.7, list=F)

Loading required package: lattice
Loading required package: ggplot2
Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang

In [10]:
data.train<-train_data[samp,]
data.test<-train_data[-samp,]

In [11]:
library(randomForest)

randomForest 4.6-14
Type rfNews() to see new features/changes/bug fixes.

Attaching package: ‘randomForest’

The following object is masked from ‘package:ggplot2’:

    margin

In [12]:
model.rf<-randomForest(Survived~., data=data.train, ntree=100)

Warning message in randomForest.default(m, y, ...):
“The response has five or fewer unique values.  Are you sure you want to do regression?”

In [13]:
x <- subset(data.test, select=-Survived)
y <- data.test$Survived

In [14]:
pred <- predict(model.rf, x)
head(pred)

        3         5         7         8         9        10
0.4214604 0.1755890 0.3618675 0.5256942 0.4214604 0.8293403

In [15]:
mean(pred==y)

[1] 0

In [16]:
data.train$Survived <-as.factor(data.train$Survived)
data.test$Survived <-as.factor(data.test$Survived)

In [17]:
rf <- randomForest(Survived~., data=data.train, ntree=100)

In [18]:
x<-subset(data.test, select = -Survived)
y<- data.test$Survived

In [19]:
pred <- predict(rf, x)

In [20]:
mean(pred==y)

[1] 0.8457944

In [21]:
library(party)

Loading required package: grid
Loading required package: mvtnorm
Loading required package: modeltools
Loading required package: stats4
Loading required package: strucchange
Loading required package: zoo

Attaching package: ‘zoo’

The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric

Loading required package: sandwich

In [22]:
model.ctree <-ctree(Survived~., data=data.train)

In [23]:
pred <- predict(model.ctree , x)

In [24]:
mean(pred==y)

[1] 0.8271028

In [25]:
library(e1071)

In [26]:
model.svm <-svm(Survived~., data=data.train)
pred <- predict(model.svm, x)
mean(pred==y)

[1] 0.8411215

In [27]:
test<-c()

for(i in 1:5){
    
    model.svm <-svm(Survived~., data=data.train)
    pred <- predict(model.svm, x)
    test<-append(test,round(mean(pred==y),2))
    
}
test
mean(test)

[1] 0.84 0.84 0.84 0.84 0.84

[1] 0.84

In [28]:
test<-c()

for(i in 1:5){
    
    model.ctree <-ctree(Survived~., data=data.train)
    pred <- predict(model.ctree , x)
    test<-append(test,round(mean(pred==y),2))
    
}
test
mean(test)

[1] 0.83 0.83 0.83 0.83 0.83

[1] 0.83

In [29]:
test<-c()

for(i in 1:5){
    
    model.ctree <-ctree(Survived~., data=data.train)
    pred <- predict(model.ctree , x)
    cat(mean(pred==y))
    
}
test
mean(test)

0.82710280.82710280.82710280.82710280.8271028

NULL

Warning message in mean.default(test):
“argument is not numeric or logical: returning NA”

[1] NA

In [30]:
test<-c()
for(i in 1:5){
    
rf <- randomForest(Survived~., data=data.train, ntree=100)
pred <- predict(rf, x)
test<-append(test,round(mean(pred==y),2))
}

    test
mean(test)

[1] 0.83 0.84 0.85 0.84 0.84

[1] 0.84

In [31]:
str(data.train)

'data.frame':	500 obs. of  8 variables:
 $ Survived  : Factor w/ 2 levels "0","1": 1 2 2 2 2 1 1 1 2 1 ...
 $ Pclass    : int  3 1 1 3 1 3 3 3 2 2 ...
 $ SexCode   : num  0 1 1 1 1 0 0 1 1 0 ...
 $ Embarked_C: logi  FALSE TRUE FALSE FALSE FALSE FALSE ...
 $ Embarked_S: logi  TRUE FALSE TRUE TRUE TRUE TRUE ...
 $ Embarked_Q: logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ AgeCode_0 : logi  FALSE FALSE FALSE TRUE FALSE FALSE ...
 $ AgeCode_1 : logi  TRUE TRUE TRUE FALSE TRUE TRUE ...